*{
    margin:0;
    box-sizing:border-box;
}

html {
	font-family: sans-serif;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}


body {
	position: relative;
	margin: 0;
	line-height: 1;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
	background: #000000;
    font: 1.1em Arial, Helvetica, sans-serif;
    line-height: 2rem;
    color: black;
}

h1, h2, h3 {
	font-family: 'Helvetica Neue LT Std Extended', sans-serif;
    font-size: 7vmin;
	font-weight: bold;
    margin-bottom: 2rem;
	line-height: 1.25em;
	letter-spacing: 0.02em;
	color: #ffffff;
}

p{
    margin-bottom: 1.5rem;
    color: #ffffff;
}
a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
    transition: all 0.3s ease-in-out; 
}
a:active, a:hover {
	outline-width: 1;
}
svg {
	transform: translate(0 0);
	line-height: 1em;
}

header {
    z-index: 100;
    background: linear-gradient(to bottom,black,transparent);
    color: black;
    height: 90px;
    padding: 0%;
    position: absolute;
    left: 0;
    right: 14.5px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
header a {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2.25em;
	letter-spacing: 0.02em;
}

.logo{
    padding: 1rem;
    letter-spacing: .5rem;
    font-size: 2rem;
    transition: all 0.1s linear;
}
.hero{
    position: relative;
    display: inline-block;
}
.hero h1{
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-88%, -100%);
    align-content: center;
    font-size: 10vmin;
    font-weight: 900;
}
.container {
    display:block;
    padding: 4rem;
    column-count: 4;
    column-gap: 12px;
    width: 80%;
    margin: 0;
    background: rgba(0, 0, 0, 0);
}
.container2 {
    display: block;

    width: 70%;
    margin: 3rem;
    padding: 2rem;
    background: rgb(24, 24, 24);
    box-shadow: 2rem;
   }

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding-inline: .5rem 1rem;
    border-radius: 20px;
}
nav ul li a:hover {
    font-size: 1.9rem;
    transition: all 0.1s linear;
}

main{
  scroll-snap-type: y mandatory;
  overflow-y:scroll;
  height:100vh;

}

section{
  margin-top: 8em;
  scroll-snap-align: start;
  height:85vh;
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
}
   img {
    max-width: 100%;
    display: block;
  }
 
  figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
  }
  
  figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
  }
  
  figure a {
    color: black;
    text-decoration: none;
  }
  
  iframe {
    margin-left: 2em;
    color: black;
    text-decoration: none;
  }
  

